.hero-section {
    background-image: url('../assets/Explainer\ Video_\ CricketID.gif');
    background-size: cover;
    padding: 100px;
    color: white;
    height: 100%;
    font-family: "Roboto", sans-serif;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero-content h2 {
    font-size: 36px;
  }
  
  .hero-content button {
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Media Query for smaller screens */
  @media (max-width: 768px) {
    .hero-section {
      padding: 50px;
    }
  
    .hero-content h2 {
      font-size: 24px;
    }
  
    .hero-content button {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  